body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.current-creature {
	color: red;
}

.encounter {
	padding: 10px;
}

.creature-card {
	margin: 8px;
}

.creature-name-label {
	font-weight: bold;
}

.creature-data-fields {
	padding-top: 2px;
}

.stat-label {
	padding-right: 5px;
}